<div class="tradefloor">
    <div>
        <p>Learn to trade by paper trading!</p>
    </div> 
</div> 
<div class="definition">
    <h1>What is paper trading?</h1>
    <p>A paper trade refers to using simulated trading to practice buying and selling securities without actual money being involved. While a paper trade can be done by simply keeping track of hypothetical trading positions, it usually involves the use of a stock market simulator that has the look and feel of an actual stock market where investors of all levels can hone their trading skills.</p>
    <a></a>
</div>
<div class="bull">
    <a href='/login'><button>Start Trading!</button></a>
</div>