<div class="profileWrapper">
    <table>
        <tr>
            <th>Ticker</th>
            <th>Last</th>
            <th>Today's Gain/Loss</th>
            <th>Total Gain/Loss</th>
            <th>Current Value</th>
            <th>Quantity</th>
        </tr>
        <tr ng-repeat="c in currentData">
            <td>{{c.ticker}}</td>
            <td>${{c.last}}</td>
            <td><p ng-class="{'red': c.todayGl < 0, 'green': c.todayGl > 0}">${{c.todayGl}}</p></td>
            <td><p ng-class="{'red': c.totalGl < 0, 'green': c.totalGl > 0}">${{c.totalGl}}</p></td>
            <td>${{c.currentValue}}</td>
            <td>{{c.quantity}}</td>
        </tr>
        <tr>
            <td></td>
            <td>Totals:</td>
            <td><p ng-class="{'red': totalsData[0].todayTotes < 0, 'green': totalsData[0].todayTotes > 0}">{{totalsData[0].todayTotes}}</p></td>
            <td><p ng-class="{'red': totalsData[0].totesTotal < 0, 'green': totalsData[0].totesTotal > 0}">{{totalsData[0].totesTotal}}</p></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>



<!--Ticker/Stock Name, last, Today’s Gain/Loss, Total Gain/Loss, current Value, Quantity-->