@import 'main';

.navbar {
    height: 12vh;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    background: $main-blue;
    font-size: 20px;
    color: white;
    font-family: 'Raleway', sans-serif;
    a {
        text-decoration: none;
    }
    .creator {
        color: white
    }
    a:visited {
        color: white;
    }
    a:hover {
        font-size: 25px;
        color: $main-orange;
        font-weight: bold;
    }
}
.footer {
    background-color: $main-blue;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 50px;
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-content: center;
    a:visited {
        color: white;
    }
    a:hover {
        color: $main-orange;
    }
}