@import 'main';

.navbar {
    height: 15vh;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    background: $main-green;
    font-size: 20px;
    color: white;
    font-family: Helvetica;
    a {
        text-decoration: none;
    }
    .creator {
        color: white
    }
    a:visited {
        color: white;
    }
    a:hover {
        font-size: 25px;
    }
}
.footer {
    background-color: $main-green;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-content: center;
    div {
        display: flex;
        justify-content: center;
        align-content: center;
        i {
            height: 30px;
            width: 30px;
        }
    }

}