@import 'main';

.red {
  color: red;
}
.green {
  color: green;
}

.profileWrapper{
    margin-left: 250px;

    table {
        width: 60vw;
        height: 100vh;
        border: 1px solid #ddd;
        margin-bottom: 60px;

        th {
            height: 20px;
            width: 100px;
            border-bottom: 1px solid #ddd;
            vertical-align: bottom;
        }
        td {
            height: 20px;
            border-bottom: 1px solid #ddd;
            text-align: center;
            vertical-align: middle;
        }
        tr:hover {
            background-color: $main-gray;
        }
        th:hover {
            background-color: none;

        }
    }
}


