@import 'main';

.red {
  color: red;
}
.green {
  color: green;
}

.profileWrapper{
    margin-left: 250px;
    table {
        width: 60vw;
        height: 100vh;
        border: 1px solid #ddd;
        margin-bottom: 60px;

        th {
            height: 20px;
            width: 100px;
            border-bottom: 1px solid #ddd;
            vertical-align: bottom;
        }
        td {
            height: 20px;
            border-bottom: 1px solid #ddd;
            text-align: center;
            vertical-align: middle;
        }
        tr:hover {
            background-color: $main-gray;
        }
        th:hover {
            background-color: none;

        }
    }
}
.load-container{
    z-index: 100;
    top: 35%;
    left: 45%;
    position: absolute;
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


